body {
    width: 100%;
}

.container {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}

.title-div {
    width: 100%;
    height: 100px;
    font-size: 34px;
    position: relative;
}

.title-text {
    width:100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-div-all{
    width:100%;
    margin-top:100px;
}
.user-div{
    display: inline-block;
    margin: 0 30px 0 30px;
    font-size:20px;
}
.user-div>div{
    display:inline-block;
}
.user-div-1{
    padding: 20px 30px 20px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.user-div-2{
    margin-left:-12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 40px 20px 40px;
}

.question-div {
    padding-top: 100px;
}

.problem-and-question{
    width:85%;
    margin: 0 auto;
}

.question {
    text-align: left;
    font-size: 30px;
}

.container-text {
    width:100%;
    height: 150px;
    margin: 50px auto;
    border-radius: 20px;
    position: relative;
}

.problem_text {
    width: 86%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line {
    border: 5px solid black;
}

.container-button {
    margin-top: 50px;
}

.btn {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    margin: 20px 50px;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
}

.result-div {
    position: relative;
}


.result {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 150px;
    border-radius: 200px;
    margin: 52px;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    display: inline-block;
    text-align: left;
}


.result-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-weight: lighter;
    font-size: 30px;
    font-family: "GamtanRoad-Regular";
}

.before-teacher {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
    width: 100%; 
}

.teacher {
    display: block;
    font-size: 30px;
    text-align: left;
    width: 100%;
}
.quiz_div{
    margin-left:20px;
}


.returning-div {
    display: flex;
    justify-content: center;
}

.returning-button {
    margin-top: 25px;
    margin: 50px 0 50px 0;
    font-size: 20px;
    border-radius: 500px;
    padding: 30px 100px;
    background-color: transparent;
}

.returning-button:hover {
    background-color: #fff0f0;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem rgba(244, 0, 0, 0.47), 0 0 0.8rem rgba(244, 0, 0, 0.47), 0 0 2.8rem rgba(244, 0, 0, 0.47);
    text-shadow: none;
    cursor: pointer;
    color:#000;
}

