.progress-bar {
  height: 30px;
  margin: 5rem 0 2rem 0;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 100%;
  border-radius: 100px;
  /* border: 4px solid #ff0080; */
}

.progress-bar__bar {
  border-radius: 100px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  /* 초기 width를 0으로 설정 */
}

.progress-bar__bar.active {
  transition: width 8000ms ease-out;
  width: 100%;
  /* active 클래스가 추가되면 width가 100%로 증가 */
}