body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    flex-direction: column;  /* 요소들을 수직으로 배치 */
}

.end_text {
    font-size: 150px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px; /* 버튼과 텍스트 사이 간격 조정 */
    font-weight: 400;
}

.return {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    font-size: 30px;
}

.return:hover{
    background-color: #fff0f0;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem rgb(244, 0, 0, 0.47), 0 0 0.8rem rgb(244, 0, 0, 0.47), 0 0 2.8rem rgb(244, 0, 0, 0.47);
    text-shadow: none;
    color:#000;
    cursor: pointer;
}