body{
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
}
@font-face {
    font-family: "GamtanRoad-Thin";
    src: url("../src/fonts/감탄로드돋움체 Thin.ttf");
}
@font-face {
    font-family: "GamtanRoad-Regular";
    src: url("../src/fonts/감탄로드돋움체 Regular.ttf");
}
@font-face {
    font-family: "GamtanRoad-Bold";
    src: url("../src/fonts/감탄로드돋움체 Bold.ttf");
}
h1{
    text-align:center;
    font-family: 'GamtanRoad';
    color: #fff0f0; 
    text-shadow: 0 0 5px #f40000; 
    animation: neon-flicker 1s infinite alternate;
}
.Page{
     text-align:center;
}

.Answer-sheet{/*답변지*/
    font-family: 'GamtanRoad-Regular';
    margin-top:50px;
    font-size: 30px;
    border-radius: 500px;
    padding: 35px 284px;
    background-color: transparent;
    color: #fff0f0; 
    text-shadow: 0 0 7px #e76565, 0 0 10px #e76565, 0 0 21px #e76565, 0 0 42px rgb(244, 0, 0, 0.47), 0 0 82px rgb(244, 0, 0, 0.47), 0 0 92px rgb(244, 0, 0, 0.47), 0 0 102px rgb(244, 0, 0, 0.47), 0 0 151px rgb(244, 0, 0, 0.47);
    font-family: "GamtanRoad-Regular";
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem rgb(244, 0, 0, 0.47), 0 0 0.8rem rgb(244, 0, 0, 0.47), 0 0 2.8rem rgb(244, 0, 0, 0.47), inset 0 0 1.3rem rgb(244, 0, 0, 0.47);
    border: 5px solid #FFF0F0;
}
.Answer-sheet:hover{
    background-color: #fff0f0;
}
.question{/*질문페이지*/
    margin-top:25px; /*여백*/
    font-family: 'GamtanRoad-Regular';
    margin-top:50px;
    font-size: 30px;
    border-radius: 500px;
    padding: 35px 200px;
    background-color: transparent;
    color: #fff0f0; 
    text-shadow: 0 0 7px #e76565, 0 0 10px #e76565, 0 0 21px #e76565, 0 0 42px rgb(244, 0, 0, 0.47), 0 0 82px rgb(244, 0, 0, 0.47), 0 0 92px rgb(244, 0, 0, 0.47), 0 0 102px rgb(244, 0, 0, 0.47), 0 0 151px rgb(244, 0, 0, 0.47);
font-family: "GamtanRoad-Regular";
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem rgb(244, 0, 0, 0.47), 0 0 0.8rem rgb(244, 0, 0, 0.47), 0 0 2.8rem rgb(244, 0, 0, 0.47), inset 0 0 1.3rem rgb(244, 0, 0, 0.47);
border: 5px solid #FFF0F0;
}
.question:hover{
    background-color: #fff0f0;
}
.Returning{
    margin-top:25px; /*여백*/
    font-family: 'GamtanRoad-Regular';
    margin-top:50px;
    font-size: 20px;
    border-radius: 500px;
    padding: 30px 100px;
    background-color: transparent;
    color: #fff0f0; 
    text-shadow: 0 0 7px #e76565, 0 0 10px #e76565, 0 0 21px #e76565, 0 0 42px rgb(244, 0, 0, 0.47), 0 0 82px rgb(244, 0, 0, 0.47), 0 0 92px rgb(244, 0, 0, 0.47), 0 0 102px rgb(244, 0, 0, 0.47), 0 0 151px rgb(244, 0, 0, 0.47);
    font-family: "GamtanRoad-Regular";
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem rgb(244, 0, 0, 0.47), 0 0 0.8rem rgb(244, 0, 0, 0.47), 0 0 2.8rem rgb(244, 0, 0, 0.47), inset 0 0 1.3rem rgb(244, 0, 0, 0.47);
    border: 5px solid #FFF0F0;
}
.Returning:hover{
    background-color: #fff0f0;
}
.class{ /*답변 받는 곳*/  
    /*상자*/
    text-align: center;
    width: 40px; /* 원하는 너비 값으로 설정 */
    height: 2px; /* 원하는 높이 값으로 설정 */
    padding: 20px;
    border: 3px solid #000000;
    margin-right:50px;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem rgb(244, 0, 0, 0.47), 0 0 0.8rem rgb(244, 0, 0, 0.47), 0 0 2.8rem rgb(244, 0, 0, 0.47), inset 0 0 1.3rem rgb(244, 0, 0, 0.47);
    border: 5px solid #FFF0F0;
    border-radius: 10px; /* 둥근 외곽선을 만듭니다. */
}
form{
    display: inline-block; /* 인라인 블록 요소로 설정하여 다른 인라인 요소와 함께 배치 */
    text-align:center;
    margin: 0; /*여백 제거 */
    padding: 0;  /* 내부 여백 제거 */
    border: none; 
    margin-top:30px;
    
}
p{
    text-align: center;
    vertical-align: middle;
    display: inline-block;  /*인라인 블록 요소로 설정하여 박스로 만듦 */
    padding: 10px; /* 내부 여백 설정  */
    border: 3px solid #000000; /* 테두리 설정 */ 
    margin: 0; /* 여백 제거   */ 
    
}
.container{
    text-align: center;
    margin-top: 30p
}
.span{
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem rgb(244, 0, 0, 0.47), 0 0 0.8rem rgb(244, 0, 0, 0.47), 0 0 2.8rem rgb(244, 0, 0, 0.47), inset 0 0 1.3rem rgb(244, 0, 0, 0.47);
    border: 5px solid #FFF0F0;
    text-shadow: 0 0 7px #e76565, 0 0 10px #e76565, 0 0 21px #e76565, 0 0 42px rgb(244, 0, 0, 0.47), 0 0 82px rgb(244, 0, 0, 0.47), 0 0 92px rgb(244, 0, 0, 0.47), 0 0 102px rgb(244, 0, 0, 0.47), 0 0 151px rgb(244, 0, 0, 0.47);
   color: #FFF0F0;
    font-family: "GamtanRoad-Regular";
    border-radius: 10px; /* 둥근 외곽선을 만듭니다. */
}
