body {
    width: 100%;
    height: 100%;
}


.title {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
   
}

.text {
    margin-left: 10px;
    color: aliceblue;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

.inputbox {
    border-radius: 15px;
}

.inputbox,
.information {
    align-items: center;
    padding: 30px 0px 30px 0px ;
}


.information {
    border-radius: 15px;
    margin: 40px auto;
}


textarea {
    resize: none;
    margin-left: 10px;
    /* textarea 크기 고정 */
    font-size: 20px;
    font-weight: 700;
    border-radius: 0 7px 7px 7px;
}


#reviewTextarea::-webkit-scrollbar {
    display: none;
    /*사이트 스크롤 제거*/
}


#limitmessage {/*금지어 경고문*/
    display: none;
    color: red;
}


.messagebox{
    margin: 0 auto;
}



/* Add the following CSS rule to your review.css file */
.nicknamebox {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 10px;
}

.base_nickname {
    width: 60px;
    text-align: center;
    border: 1px;
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
}

.user_nickname{
    border: 1px;
    padding: 0 15px;
    border-radius: 0 5px 5px 0;
}


.reviewOutput {
    margin: 10px 10px;
}


.reviewOutput{
    background-color: white;
    border: 1px solid black;
    border-radius: 0 7px 7px 7px;
    height: 30px;
    font-size: larger;
    color: black;
}


.btnbox {
    text-align : center;
}


button {
    width: 200px;
    height: 70px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: bold;
    background-color:transparent; /*투명*/
    margin: 10px 50px;
}