body {
    width: 100%;
    height: 100%;
}


.title {    /*2024년도 미림퀴즈쇼 후기*/
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
}

.container {    /*후기 작성칸 + 후기글*/
    width: 95%;
    margin: 0 auto;
    margin-top: 90px;
}

.inputbox {     /*후기 작성 컨테이너*/
    border-radius: 25px;
    height: 200px;
}

.user-div-all{
    width:95%;
    margin-left:20px;
}
.user-div{
    display: inline-block;
    margin: 0 30px 0 30px;
    font-size:20px;
}
.user-div>div{
    display:inline-block;
}
.user-div-1{
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -5px -5px 10px rgb(244, 0, 0, 0.47), 0 5px 10px rgb(244, 0, 0, 0.47), inset -5px -5px 10px rgb(244, 0, 0, 0.47), inset 5px 5px 10px rgb(244, 0, 0, 0.47);
}
.user-div-2{
    margin-left:-12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 30px 10px 30px;
    box-shadow: 5px -5px 10px rgb(244, 0, 0, 0.47), 0 5px 10px rgb(244, 0, 0, 0.47), inset 5px -5px 10px rgb(244, 0, 0, 0.47), inset 0 5px 10px rgb(244, 0, 0, 0.47);
}
.user-div-1,
.user-div-2 {
    position: relative;
    z-index: 1;
}


.base_nickname {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 가운데 정렬 */
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -5px -5px 10px rgb(244, 0, 0, 0.47), 0 5px 10px rgb(244, 0, 0, 0.47), inset -5px -5px 10px rgb(244, 0, 0, 0.47), inset 5px 5px 10px rgb(244, 0, 0, 0.47);
}

.user_nickname {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 가운데 정렬 */
    text-align: center;
    margin-left: -4px;
    padding: 10px 20px 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px -5px 10px rgb(244, 0, 0, 0.47), 0 5px 10px rgb(244, 0, 0, 0.47), inset 5px -5px 10px rgb(244, 0, 0, 0.47), inset 0 5px 10px rgb(244, 0, 0, 0.47);
}


.inputbox,
.information {
    align-items: center;
    padding: 30px 0px 30px 0px;
}


.information {
    border-radius: 25px;
    margin: 70px auto;
}


textarea {  /*후기 작성하는 칸*/
    resize: none;
    margin-left: 50px;
    margin-top: 37px;
    font-size: 25px;
    width:90%;
    border-radius: 0 35px 35px 35px;
    font-family: "GamtanRoad-Regular";
    padding:20px;
    height:50px;
}

#reviewTextarea::-webkit-scrollbar {
    display: none; /*textarea 스크롤 제거*/
}


/*작성된 후기 => 학번/닉네임*/
.nicknamebox {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    font-size: 20px;
    font-family: "GamtanRoad-Regular";
}



.reviewOutput{
    resize: none;
    margin-left: 50px;
    margin-top: 37px;
    margin-bottom:20px;
    font-size: 25px;
    border-radius: 0 35px 35px 35px;
    font-family: "GamtanRoad-Regular";
    padding:20px;
    height:50px;
    width:90%;
    text-align: center; /* Center text horizontally */
    display: flex;
    align-items: flex-start; /* Align text to the left vertically */
}


.btnbox {
    text-align : center;
}

.btns {
    width:200px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    padding:30px; 
    grid-column: span 2;
    justify-self: center;
    font-size:20px;
    margin: 40px 10px 50px 10px;
}
.btns:hover{
    background-color: #fff0f0;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem rgb(244, 0, 0, 0.47), 0 0 0.8rem rgb(244, 0, 0, 0.47), 0 0 2.8rem rgb(244, 0, 0, 0.47);
    text-shadow: none;
    color: #000;
    cursor: pointer;
}

.moveBottomBtn {
    width: 100px;
    height: 100px;
    padding: .6rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
    color: #fff;
    display: flex;
    position: fixed;
    right: 15px;
    bottom: 20px;
}